/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
a,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style: none;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font: 16px Muli, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	min-height: 100%;
	text-align: center;
	font-size: 71.111111111%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************
	Web Fonts
****************************************** */

h2,h3,h4,h5,p {
	line-height: 1.5em;
}

p {
	padding-bottom: 1em;
}

/* ******************************************
	Custom Styles
****************************************** */

#wrap {
	width:100%;
}

#nav {
	width: 100%;
	position: fixed;
	z-index: 999;
}

nav {
	width: 100%;
	height: 3.375em;
	/*position: absolute;*/
	background-color: rgba(255, 255, 255, 0.84);
	line-height: 3.375em;
	border-bottom: 1px solid #eee;
	z-index: 999;
	/*position: fixed;*/
	/*top: 0;*/
}

nav h2 {
	display: inline-block;
	width: 20%;
	float: left;
	height: 100%;
	background: url('../imgs/xi.png') no-repeat center;
	background-size: contain;
	color: rgba(0,0,0,0);
}

nav ul {
	height: 100%;
	float: right;
}

nav li {
	width: 6em;
	float: right;
}

#hold {
	width: 2em !important;
}

nav a {
	text-decoration: none;
	color: #484848;
	-webkit-transition-duration: 0.4s;
}

nav a:hover {
	color: #FCA70B;
	-webkit-transition-duration: 0.4s;
}


#container-welcome,#container-intro,#container-portfolio,#container-contact {
	width: 100%;
	height: 52em;
}

/*welcome*/
#container-welcome {
	background-image: url('../imgs/bg.png');
	background-size: auto 120%;
	background-repeat: no-repeat;
	background-position: center -6em; 
}

#welcome,#intro,#portfolio,#contact,#sns {
	position: relative;
	top: 8%;
	margin: 0 auto;
}

h1 {
	color: rgba(255, 255, 255, 0.88);
}

#welcome div {
	height: 3.375em;
	overflow: hidden;
}

#welcome li{
	border: 1px solid #fff;
	display: inline-block;
	padding: 1.5em;
	color: #fff;
	-webkit-transition-duration: 0.4s;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	margin: 6em 1em;
}

#welcome li:hover{
	cursor: pointer;
	background-color: rgba(255, 254, 254, 0.26);
	-webkit-transition-duration: 0.4s;
}
/*intro*/
#container-intro {
	background: url('../imgs/gplaypattern.png');
}

#intro header,#portfolio header {
	font-size: 3.75em;
	color: #FE7C5E;
	border-bottom: 0.06em solid;
	display: inline-block;
}

figure, article {
	text-align: left;
	padding: 1em;
}

figure img {
	display: block;
	margin: 0 auto;
}

#cv {
	height: 6em;
	width: 100%;
	background: url('../imgs/cv-bg.png');
}

#cv a {
	font-size: 2.25em;
	color: #FB9E72;
	top: 0.9em;
	position: relative;
	display: block;
}

/*portfolio*/
#container-portfolio {
	background: url('../imgs/photography.png');
}

.group {
	width: 100%;
	height: 28em;
	right: 0;
	padding: 0;
}

.group li{
	float: left;
	border: 1px solid #5C5F5F;
	text-align: center;
}

.description {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #121211;
	opacity: 0;
	-webkit-transition-duration: 0.5s;
}

.description:hover {
	opacity: 0.8;
	-webkit-transition-duration: 0.5s;
}

h4 {
	font-size: 2.25em;
	color: #fafbfb;
	font-family: Alternate Gothic No3 D;
}

.description p {
	font-size: 1.5em;
	color: #abacad;
}

/*contact*/

#container-contact {
	background: url('../imgs/contact-bg.png');
	background-size: auto 120%;
	background-repeat: no-repeat;
	background-position:center -8em; 
}

#contact header {
	font-size: 3.75em;
	color: #346f98;
}

#email-form {
	margin: 0 auto;
	top: 0.6em;
	position: relative;
}

#email, #name, #content,#submit {
	width: 100%;
	padding: 3%;
	margin-bottom: 0.8em;
	background-color: #fff;
	opacity: 0.5;
	border-radius: 0.4em;
	border: 2px solid black;
	font-size: 1.25em;
	color: #adaeae;
}

#content {
	height: 9.2em !important;
}

#submit {
	width: 50%;
	background-color: #346f98;
	opacity: 1;
	color: #fff;
	font-weight:bold;
	-webkit-transition-duration: 0.4s; 
}

#submit:hover {
	background-color: #A5CFEC;
	color: #346f98;
	-webkit-transition-duration: 0.4s;
}

/*footer*/
#container-footer {
	width: 100%;
	height: 24em;
	background: #113148;
}

#sns {
	top: 3.35125em; 
}

h2 {
	font-size: 1.875em;
	color: #fff;
	font-weight: normal;
}

#sns ul {
	margin: 0.90625em 0;
	display: inline-block;
}

#sns li {
	width: 8.125em;
	height: 8.125em;
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-size: 80%; 
	float: left;
	position: relative;
}

#sns li a{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
}

#github:hover,#twitter:hover,#linkedin:hover,#weibo:hover,#douban:hover{
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
}

#github {
	background: url('../imgs/github.png');
	-webkit-transition-duration: 0.4s;
}

#github:hover {
	background: url('../imgs/github-hover.png');
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-size: 80%; 
}

#twitter {
	background: url('../imgs/twitter.png');
	-webkit-transition-duration: 0.4s;
}

#twitter:hover {
	background: url('../imgs/twitter-hover.png');
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-size: 80%; 
}

#linkedin {
	background: url('../imgs/linkedin.png');
	-webkit-transition-duration: 0.4s;
}

#linkedin:hover {
	background: url('../imgs/linkedin-hover.png');
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-size: 80%; 
}

#weibo {
	background: url('../imgs/weibo.png');
	-webkit-transition-duration: 0.4s;
}

#weibo:hover {
	background: url('../imgs/weibo-hover.png');
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-size: 80%; 
}

#douban {
	background: url('../imgs/douban.png');
	-webkit-transition-duration: 0.4s;
}

#douban:hover {
	background: url('../imgs/douban-hover.png');
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-size: 80%; 
}

footer {
	position: relative;
}

footer p {
	color: #000;
}


/* ******************************************
	Media Queries for screen wider than 64em (1024px)
****************************************** */

@media screen and (min-width: 64em) {
	    body {
	        font-size: 100%;
	        }
	    h1 {
	    	font-size: 9em;
	    }
	    p, a{
	    	font-size: 1.125em;
	    }
	    figure, article {
	    	width: 46%;
	    	position: absolute;
	    	top: 8.57em;
	    	right: 50%;
	    	padding: 0 2%;
	    }
	    figure img {
	    	width: 25em;
	    }
	    #intro article {
	    	width: 50% !important;
	    	left: 50%;
	    }
	    #welcome,#intro,#portfolio,#contact,#sns {
	    	width: 84%;
	    }
	    .group li{
	    	width: 31%;
	    	margin: 1%;
	    	height: 13.7em;
	    }
	    #email-form {
	    	width: 64%;
	    }
}
/*720px*/
@media screen and (max-width: 64em) and (min-width: 45em) {
	    body {
	        font-size: 70.3125%;
	        }
	    h1 {
	    	font-size: 9em;
	    }
	    p, a {
	    	font-size: 1.2em;
	    }
	    figure, article {
	    	width: 46%;
	    	position: absolute;
	    	top: 8.57em;
	    	right: 50%;
	    	padding: 0 2%;
	    }
	    figure img {
	    	width: 25em;
	    }
	    #intro article {
	    	width: 50% !important;
	    	left: 50%;
	    }
	    #welcome,#intro,#portfolio,#contact,#sns {
	    	width: 88%;
	    }
	    .group li{
	    	width: 31%;
	    	margin: 1%;
	    	height: 13.7em;
	    }
	    #email-form {
	    	width: 72%;
	    }
}

@media screen and (max-width: 45em) and (min-width: 30em) {
	    body {
	        font-size: 70.3125%;
	        }
	    h1 {
	    	font-size: 7.6em;
	    }
	    p, a {
	    	font-size: 1.35em;
	    }
	    figure, article {
	    	position: relative;
	    }
	    figure img {
	    	width: 12em;
	    }
	    #welcome,#intro,#portfolio,#contact,#sns {
	    	width: 88%;
	    }
	    #container-footer {
	    	height: 17.6em;
	    }
	    .group li{
	    	width: 47%;
	    	margin: 1%;
	    	height: 12.4em;
	    }
	    #email-form {
	    	width: 84%;
	    }
	    #sns li {
	    	width: 6.75em;
	    	height: 6.75em;
	    }
	    .scroll-imgs {
	    	width: 100% !important;
	    	padding: 0 !important;
	    }
}

@media screen and (max-width: 30em) {
	    body {
	        font-size: 70.3125%;
	        }
	    h1 {
	    	font-size: 6.4em;
	    }
	    p, a {
	    	font-size: 1.35em;
	    }
	    figure, article {
	    	position: relative;
	    }
	    figure img {
	    	width: 7.6em;
	    }
	    #container-welcome, #container-intro, #container-portfolio {
	    	width: 100%;
	    }
	    #container-portfolio {
	    	height: 108em;
	    }
	    #container-footer {
	    	height: 16em;
	    }
	    #welcome,#intro,#portfolio,#sns {
	    	width: 88%;
	    	top: 3.75em !important;
	    }
	    #intro header, #portfolio header {
	    	font-size: 2.75em !important;
	    }
	    .group li{
	    	width: 84%;
	    	margin: 1em 8%;
	    	height: 14.4em;
	    }
	    #sns li {
	    	width: 4.75em;
	    	height: 4.75em;
	    }
	    .scroll-imgs {
	    	width: 100% !important;
	    	padding: 0 !important;
	    }
	    nav li {
	    	font-size: 0.84em;
	    }
}


/* ******************************************
	Print Styles
****************************************** */
@media print and (max-width: 8.5in){
	
	#masthead {
		color:black;
	}
	
	#container-header {
		height: auto;
	}
	
	img {
		width:2in;
	}
	
	#portfolio	{
		float:left;
		width:45%;
	}
	
	#resume	{
		float:right;
		width:45%;
	}
	
	#container-footer	{
		clear:both;
	}
	
}
	
